{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    <body
    style="background-image: url('../../static/users/images/background.jpg');background-repeat: no-repeat;background-attachment: fixed; background-size: cover;">
    <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="section-title position-relative mb-4 pb-4">
                        <h1 class="mb-2">Welcome to MOTOYO</h1>
                    </div>
                    <p class="mb-4">
                        In 2023, three passionate individuals came together with a brilliant idea: to create a Linux
                        hosting platform. They combined their skills in programming, networking, and system
                        administration to turn their vision into reality. With hard work and determination, they built
                        an innovative infrastructure that offered freedom, security, and scalability.
                        <br>
                        Their platform quickly gained popularity, attracting developers, businesses, and individuals
                        seeking reliable and affordable hosting solutions. Over time, they successfully completed
                        numerous projects, earning a reputation for delivering exceptional results.
                        <br>
                        Today, their Linux hosting platform continues to thrive, empowering users worldwide. Their
                        journey serves as a reminder of the power of ideas and the impact a dedicated team can make.
                    </p>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid wow zoomIn" data-wow-delay="0.5s"
                        src="../../static/users/images/about-img.png">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp"
                data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Our Team Members</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="team-item" style="background-color: #6614fd;">
                        <div class="text-center p-4">
                            <img class="img-fluid rounded-circle mb-4" src="../../static/users/images/team-1.png"
                                alt="">
                            <h5 class="fw-bold mb-1">Pieter Moons</h5>
                            <small>Designation</small>
                        </div>
                        <div class="d-flex justify-content-center" style="background-color: #6614fd;">
                            <a class="btn btn-square text-primary bg-white m-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square text-primary bg-white m-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square text-primary bg-white m-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item" style="background-color: #6614fd;">
                        <div class="text-center p-4">
                            <img class="img-fluid rounded-circle mb-4" src="../../static/users/images/team-2.png"
                                alt="">
                            <h5 class="fw-bold mb-1">Tommy Fonken</h5>
                            <small>Designation</small>
                        </div>
                        <div class="d-flex justify-content-center" style="background-color: #6614fd;">
                            <a class="btn btn-square text-primary bg-white m-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square text-primary bg-white m-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square text-primary bg-white m-1"
                                href="https://www.instagram.com/tommyfonken/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item" style="background-color: #6614fd;">
                        <div class="text-center p-4">
                            <img class="img-fluid rounded-circle mb-4" src="../../static/users/images/team-3.png"
                                alt="">
                            <h5 class="fw-bold mb-1">Yordi Philips</h5>
                            <small>Programmer</small>
                        </div>
                        <div class="d-flex justify-content-center" style="background-color: #6614fd;">
                            <a class="btn btn-square text-primary bg-white m-1"
                                href="https://www.facebook.com/yordi.philips"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square text-primary bg-white m-1"
                                href="https://www.linkedin.com/in/yordi-philips-36096419a/"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square text-primary bg-white m-1"
                                href="https://www.instagram.com/yphilips_/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 " style="max-width: 600px;">
                <h1 class="mb-3">Contact For Any Query</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-7 col-md-6" style="background-color: #6614fd;">
                    <div>
                        <form action="mailto:yordi.philips@hotmail.com" method="post" enctype="text/plain">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message"
                                            style="height: 150px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6" style="background-color: #6614fd; position: relative;left: 10pt;">
                    <div class="section-title position-relative mx-auto mb-4 pb-4">
                        <h3 class="fw-bold mb-2">Customer Support</h3>
                    </div>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Martelarenstraat 181, 1800
                        Peutie
                    </p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary me-3"></i>+32477091372</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>Pieter.moons@mil.be</p>

                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</body>
{% endblock content %}